<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img class="img-fluid w-25 mb-2 rounded-circle logo-small" src="img/logo.jpeg" alt="Logo de la aplicación" />
            <h1 class="mb-1">Links Favoritos</h1>
            <h3 class="mb-5">
                <em>¡Almacena tus links aquí!</em>
            </h3>
            <a class="btn btn-primary" href="/signin">¡Empecemos!</a>
        </div>
    </header> 

</main>